<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>TLFSHelloFS</string>
	<key>CFBundleExecutable</key>
	<string>TLFSHelloFS</string>
	<key>CFBundleIdentifier</key>
	<string>ai.tensorlake.tlfs.fsmodule</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>TLFSHelloFS</string>
	<key>CFBundlePackageType</key>
	<string>XPC!</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSMinimumSystemVersion</key>
	<string>26.0</string>
	<key>EXAppExtensionAttributes</key>
	<dict>
		<key>EXExtensionPrincipalClass</key>
		<string>TLFSHelloFileSystem</string>
		<key>EXExtensionPointIdentifier</key>
		<string>com.apple.fskit.fsmodule</string>
		<key>EXExtensionPrincipalClass</key>
		<string>TLFSHelloFileSystem</string>
		<key>FSActivateOptionSyntax</key>
		<dict>
			<key>shortOptions</key>
			<string>o:</string>
		</dict>
		<key>FSMediaTypes</key>
		<dict/>
		<key>FSPersonalities</key>
		<dict/>
		<key>FSRequiresSecurityScopedPathURLResources</key>
		<false/>
		<key>FSShortName</key>
		<string>tlfshello</string>
		<key>FSSupportedSchemes</key>
		<array>
			<string>tlfshello</string>
		</array>
		<key>FSSupportsBlockResources</key>
		<false/>
		<key>FSSupportsGenericURLResources</key>
		<true/>
		<key>FSSupportsPathURLs</key>
		<false/>
	</dict>
</dict>
</plist>
