[tool.poetry]
name = "tensorlake"
version = "0.1.42"
description = "Tensorlake SDK for Document Ingestion API and Serverless Workflows"
authors = ["Tensorlake Inc. <support@tensorlake.ai>"]
homepage = "https://github.com/tensorlakeai/tensorlake"
repository = "https://github.com/tensorlakeai/tensorlake"

[tool.poetry.dependencies]
python = "^3.9"
python-magic = "^0.4.27"
httpx = { version = "^0.27", extras = ["http2"] }
cloudpickle = "^3.1.0"
pydantic = "2.10.4"
docker = "^7.1.0"
nanoid = "^2.0.0"
httpx-sse = "^0.4.0"
rich = "^13.9.4"                                  # TODO: Look into consolidating this with click
pyyaml = "^6.0.2"
click = "^8.1.8"
retry = "^0.9.2"
aiofiles = "^24.1.0"
tqdm = "^4.67.1"

# Required only by Function Executor
structlog = "^24.4.0"
grpcio = "1.70.0"
grpcio-tools = "1.70.0"

[tool.poetry.scripts]
tensorlake = "tensorlake.cli:cli"
function-executor = "tensorlake.function_executor.main:main"

[build-system]
requires = ["poetry==2.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.group.dev.dependencies]
black = "^24.10.0"
pylint = "^3.3.0"
parameterized = "^0.9.0"
respx = "^0.22.0"

[tool.poetry.plugins."poetry.command"]
postinstall = "scripts:install_deps"
