[tool.poetry]
name = "tensorlake"
version = "0.2.78"
description = "Tensorlake SDK for Document Ingestion API and Serverless Applications"
readme = "README.md"
authors = ["Tensorlake Inc. <support@tensorlake.ai>"]
homepage = "https://github.com/tensorlakeai/tensorlake"
repository = "https://github.com/tensorlakeai/tensorlake"

[tool.poetry.dependencies]
python = "^3.10"
python-magic = "^0.4.27"
httpx = { version = ">=0.27.2, < 1.0", extras = ["http2"] }
pydantic = ">=2.0, <3.0"
httpx-sse = "^0.4.1"
# TODO: Look into consolidating this with click
rich = "14.2.0"
pyyaml = "^6.0.3"
click = "8.3.0"
retry = "^0.9.2"
aiofiles = "^24.1.0"
tqdm = "^4.67.1"
tomlkit = "^0.13.3"

# Required only by Function Executor
grpcio = "1.75.1"
grpcio-tools = "1.75.1"

[tool.poetry.scripts]
tensorlake = "tensorlake.cli:cli"
function-executor = "tensorlake.function_executor.main:main"

[build-system]
requires = ["poetry==2.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.black]
extend_exclude = "vendor"

[tool.isort]
profile = "black"
extend_skip = ["vendor"]

[tool.poetry.group.dev.dependencies]
black = "25.11.0"
parameterized = "^0.9.0"
respx = "^0.22.0"
psutil = "^7.1.3"
isort = "^7.0.0"
pre-commit = "^4.4.0"

[tool.poetry.plugins."poetry.command"]
postinstall = "scripts:install_deps"
