[tool.poetry]
name = "tensorlake"
version = "0.3.11"
description = "Tensorlake SDK for Document Ingestion API and Serverless Applications"
readme = "README.md"
authors = ["Tensorlake Inc. <support@tensorlake.ai>"]
homepage = "https://github.com/tensorlakeai/tensorlake"
repository = "https://github.com/tensorlakeai/tensorlake"

[tool.poetry.dependencies]
python = "^3.10"
python-magic = "^0.4.27"
httpx = { version = ">=0.27.2, < 1.0", extras = ["http2"] }
pydantic = ">=2.0, <3.0"
httpx-sse = "^0.4.1"
# TODO: Look into consolidating this with click
rich = "14.3.2"
pyyaml = "^6.0.3"
click = "8.3.1"
tomlkit = "^0.14.0"
# pip installs the latest grpcio <2.0.0
# when developing with poetry, the version
# from dev.dependencies is used.
grpcio = ">=1.40.0,<2.0.0"
grpcio-tools = ">=1.40.0,<2.0.0"

[tool.poetry.scripts]
tensorlake = "tensorlake.cli:cli"
function-executor = "tensorlake.function_executor.main:main"

[build-system]
requires = ["poetry==2.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.black]
extend_exclude = "vendor"

[tool.isort]
profile = "black"
extend_skip = ["vendor"]

[tool.poetry.group.dev.dependencies]
black = "25.11.0"
parameterized = "^0.9.0"
pytest = "^8.0.0"
respx = "^0.22.0"
psutil = "^7.2.2"
isort = "^7.0.0"
pre-commit = "^4.5.1"
# Generate .py stubs with old version of grpcio so users can install
# any newer version of grpcio package. grpcio is forward compatible with
# code generated by older grpcio (same major version).
grpcio = "1.60.0"
grpcio-tools = "1.60.0"
# grpcio-tools implicit dependency, have to pin to an old version too.
setuptools = "^69.0.0"

[tool.poetry.plugins."poetry.command"]
postinstall = "scripts:install_deps"
